# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode-specific files
## Xcode project files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
## Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/
## Xcode build artifacts
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Visual Studio-specific files
## User-specific settings
*.vcxproj.user
*.suo
*.user
*.vcxproj.filters
*.vcxproj.in*
*.vspx
*.vsidx
## Build folders
x64/
Debug/
Release/
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.tlog
*.log
*.obj
*.pch
*.cache
*.ncb
*.sdf
*.opensdf
## MSBuild files
*.msbuild
*.msbuild.user
## Visual Studio Code files
.vscode/

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake

# macOS-specific files
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows-specific files
Thumbs.db
Desktop.ini